/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, p, a, th, td {
	font-family: San Francisco;
}

body {
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}

 table {
 	border: 0px;
 	border-radius: 30px;
 	padding: 20px;
 	
 }
 table {
 	background-color: rgba(100,150,255,0.3);
 }

 th, td {
 	border: 0px;
 	padding: 8px;
 }
 
 td img {
 	height: 40px;
 }
 
 /* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: teal;
}

/* selected link */
a:active {
    color: white;
}
